@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, Arial, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
}

header {
  background: #111;     /* тёмный фон */
  color: white;         /* белый текст */
}

footer {
  background: #111;
  color: white;
}

* {
  box-sizing: border-box;
}